<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GodSharp.Opc.Da" version="2021.204.23" targetFramework="net452" />
  <package id="GodSharp.Opc.Da.OpcAutomation" version="2021.204.23" targetFramework="net452" />
  <package id="HPSocket.Net" version="5.8.1.1" targetFramework="net452" />
</packages>